:root {
  --pri-teal: #89B8BC;
  --sec-teal: #C1DBDD;
  --light: #F0F8FB;
  --darker-light: #E3EDF2;
  --dark: #4B5E64;
  --darker: #39484C;
  --dark-hover: #567079;
  --navy: #386784;
  --light-hover: #ABD1DF;
  --link: #5CB3BE;
  }

@font-face {
	font-family: Arimo;
	src: url('/fonts/Arimo/Arimo-VariableFont_wght.ttf')
	format("truetype");
	}
/* Please GitHub I need this*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	}

html {
	font-family: "Arimo", sans-serif;
	background-color: var(--sec-teal);
	color: var(--dark);
	}

body {
	width: min(100% - 2rem, 80ch);
  margin: auto;
  min-height: 100vh;
  align-content: center;
  }

/*top right bottom left*/

header {
	background-color: var(--pri-teal);
	display: flex;
	justify-content: space-around;
	align-items: center;
	}

.header-content {
	list-style-type: none;
	display: inline;
	font-size: 1rem;
	}

.logo {
	width: 6rem;
	padding: 0.5rem;
	}

.menu {
	word-spacing: 0.5rem
	}
		
.nav-link {
  text-decoration: none;
  color: var(--darker);
  }
		
.nav-link:hover {
  text-decoration: underline dotted;
  color: var(--dark-hover);
  }
  
main {
	background-color: var(--light);
	padding: 1rem;
	overflow-x: auto;
	}
	
.main-content {
	padding: 0.5rem;
	}
	
.pfp {
  height: 10rem;
  display: block;
  float: right;
  }
  
  /*scream if you love billy*/
  
p.main-content {
  max-width: 25rem;
	}
	
hr {
  border: 1px solid var(--darker-light);
  
  box-shadow: 0 2px 3px var(--darker-light);
  }
  
.hr-bottom {
  margin: 1rem 0.5rem;
  width: 70%;
  }
  
hr.short {
  width: 55%;
  }
  
.btn {
  background-color: var(--pri-teal);
  }
 
footer {
	display: flex;
	justify-content: center;
	background-color: var(--navy);
	color: var(--light);
	height: auto;
	width: auto;
	padding: 0.5rem;
	}

.footer-content {
	padding: 0.5rem;
	}
	
.socials {
  word-spacing: 0.5rem;
  }

footer li {
	list-style-type: none;
	display: inline-block;
	}

footer a {
	color: inherit;
	text-decoration: none;
	}
	
footer a:hover {
  text-decoration: underline dotted;
  color: var(--light-hover);
  }

@media only screen and (max-width: 600px) {

	body {
		margin: 1rem auto;
		min-height: unset;
		align-content: normal;
	}
	
	main {
	  min-height: calc(100dvh - 46.391px - 84px - 2rem);
	  }
	
	hr.short {
	  width: auto;
	  }

	footer {
		display: grid;
		height: auto;
		align-items: center;
		}

	footer p {
		text-align: center;
		}
	}
